/* Fonts */
@font-face {
  font-family: "Cinzel";
  src: url("../fonts/Cinzel-Regular.woff2") format("woff2");
  src: url("../fonts/Cinzel-Regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Cinzel";
  src: url("../fonts/Cinzel-Bold.woff2") format("woff2");
  src: url("../fonts/Cinzel-Bold.woff") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2");
  src: url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2");
  src: url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
}

body {
  font-family: "Cinzel", serif;
  /* background-color: black;
  color: white; */
}
